<header id="header-wrap" class="bg-dunes relative">
  <!-- Navbar Start -->
  <div class="navigation fixed top-0 left-0 z-30 w-full duration-300">
    <div class="container">
      <nav class="navbar navbar-expand-lg relative flex items-center justify-between py-6 duration-300">
        <a class="navbar-brand" href="/index.html">
          <img class="hidden sm:block" src="/assets/img/brand.png" />
          <img class="sm:hidden" src="/assets/img/brand_small.png" />
        </a>

        <a
          href="https://altagenda.crossuite.com/praktijkreviva/"
          target="_blank"
          class="block rounded-full border border-reviva_d-500 bg-reviva_d-500 px-5 py-3 text-sm font-bold uppercase text-white outline-none transition-all duration-150 ease-linear hover:border-reviva_m-500 hover:bg-reviva_m-500 focus:outline-none active:bg-reviva_d-500 lg:hidden"
          >Maak een afspraak</a
        >

        <button
          class="navbar-toggler block text-sm focus:outline-none lg:hidden"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="toggler-icon"></span>
          <span class="toggler-icon"></span>
          <span class="toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse mt-full absolute top-100 left-0 z-20 hidden w-full bg-white shadow duration-300 lg:static lg:block lg:bg-transparent lg:shadow-none"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto items-center justify-center lg:flex" data-accordion="collapse">
            <li class="nav-item">
              <a class="page-link active" href="/index.html">Home</a>
            </li>

            <li class="nav-item" data-active-classes="text-reviva_m-500">
              <a id="displines_accordion_head" class="page-link" data-accordion-target="#displines_accordion_body" aria-expanded="false" aria-controls="displines_accordion_body"
                >Disciplines <i class="fa-solid fa-angle-down"></i>
              </a>
              <div id="displines_accordion_body" aria-labelledby="displines_accordion_head" class="hidden rounded bg-white lg:absolute">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="doubleDropdownButton">
                  <li>
                    <a href="/views/disciplines/kinesitherapie.html" class="flex flex-wrap items-center py-2 hover:bg-gray-100">
                      <div class="w-1/5 text-center">
                        <i class="fa-solid fa-hand-holding-heart text-2xl"></i>
                      </div>
                      <div class="w-4/5">Kinesitherapie</div>
                    </a>
                  </li>
                  <li>
                    <a href="/views/disciplines/dry_needling.html" class="flex flex-wrap items-center py-2 hover:bg-gray-100"
                      ><div class="w-1/5 text-center">
                        <div style="width: 30px" class="mx-auto">
                          <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 256 256">
                            <line x1="184" y1="72" x2="168" y2="88" fill="none" stroke="#1E3E50" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" />
                            <path
                              d="M182.6,118.6l24-24a32,32,0,0,0-45.2-45.2l-24,24C128,128,40,216,40,216S128,128,182.6,118.6Z"
                              fill="none"
                              stroke="#1E3E50"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="12"
                            />
                          </svg>
                        </div>
                      </div>
                      <div class="w-4/5">Dry needling</div></a
                    >
                  </li>
                  <li>
                    <a href="/views/disciplines/pre_postnatale_kinesitherapie.html" class="flex flex-wrap items-center py-2 hover:bg-gray-100"
                      ><div class="w-1/5 text-center">
                        <i class="fa-solid fa-person-breastfeeding text-2xl" style="width: 30px"></i>
                      </div>
                      <div class="w-4/5">Pre- en postnatale Kinesitherapie</div></a
                    >
                  </li>
                  <li>
                    <a href="/views/disciplines/orthomoleculaire_therapie.html" class="flex flex-wrap items-center py-2 hover:bg-gray-100"
                      ><div class="w-1/5 text-center">
                        <i class="fa-solid fa-balance-scale text-2xl" style="width: 30px"></i>
                      </div>
                      <div class="w-4/5">Orthomoleculaire Therapie</div></a
                    >
                  </li>
                  <li>
                    <a href="/views/disciplines/groepslessen.html" class="flex flex-wrap items-center py-2 hover:bg-gray-100">
                      <div class="w-1/5 text-center">
                        <i class="fa-solid fa-people-group text-2xl" style="width: 30px"></i>
                      </div>
                      <div class="w-4/5">Groepslessen</div>
                    </a>
                  </li>
                  <li>
                    <a href="/views/disciplines/vroedkunde.html" class="flex flex-wrap items-center py-2 hover:bg-gray-100">
                      <div class="w-1/5 text-center">
                        <i class="fa-solid fa-baby text-2xl" style="width: 30px"></i>
                      </div>

                      <div class="w-4/5">Vroedkunde</div></a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item" data-active-classes="text-reviva_m-500">
              <a id="team_accordion_head" class="page-link" data-accordion-target="#team_accordion_body" aria-expanded="false" aria-controls="team_accordion_body"
                >Team <i class="fa-solid fa-angle-down"></i
              ></a>
              <div id="team_accordion_body" aria-labelledby="team_accordion_head" class="hidden rounded bg-white lg:absolute">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="doubleDropdownButton">
                  <li>
                    <a href="/views/team/lucia.html" class="flex flex-wrap items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      <img style="width: 75px; margin-right: 10px" class="rounded-full" src="/assets/img/team/lucia_avatar.png" alt="" />
                      Lucia Vanden Eynde</a
                    >
                  </li>
                  <li>
                    <a href="/views/team/elien.html" class="flex flex-wrap items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      <img style="width: 75px; margin-right: 10px" class="rounded-full" src="/assets/img/team/elien_avatar.png" alt="" />Elien De Vos</a
                    >
                  </li>
                  <li>
                    <a href="/views/team/yves.html" class="flex flex-wrap items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      <img style="width: 75px; margin-right: 10px" class="rounded-full" src="/assets/img/team/yves_avatar.png" alt="" />Yves Delaere</a
                    >
                  </li>
                  <li>
                    <a href="/views/team/elke.html" class="flex flex-wrap items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      <img style="width: 75px; margin-right: 10px" class="rounded-full" src="/assets/img/team/elke_avatar.png" alt="" />Elke Parton</a
                    >
                  </li>
                  <li>
                    <a href="/views/team/lotte.html" class="flex flex-wrap items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      <img style="width: 75px; margin-right: 10px" class="rounded-full" src="/assets/img/team/lotte_avatar.png" alt="" />Lotte Hendrickx</a
                    >
                  </li>
                  <li>
                    <a href="/views/team/charlotte.html" class="flex flex-wrap items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      <img style="width: 75px; margin-right: 10px" class="rounded-full" src="/assets/img/team/charlotte_avatar.png" alt="" />Charlotte De Meersman</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="page-link" href="/index.html#contact">Contact</a>
            </li>
            <li class="nav-item appear-on-scroll hidden">
              <a
                href="https://altagenda.crossuite.com/praktijkreviva/"
                target="_blank"
                class="mr-1 mb-1 rounded-full bg-reviva_d-500 px-5 py-3 text-sm uppercase text-white transition-all duration-150 ease-linear hover:bg-reviva_m-500"
                >Maak een afspraak</a
              >
            </li>
            <li class="nav-item appear-on-scroll hidden px-5">
              <p><i class="fas fa-phone text-reviva_m-500"></i> 016 41 42 50</p>
              <p>
                <i class="fas fa-envelope text-reviva_m-500"></i>
                info@praktijkreviva.be
              </p>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- Navbar End -->
</header>
