<section id="team" class="bg-reviva_l-400 py-12">
  <div class="container text-center">
    <p class="section-heading mb-16 text-7xl text-reviva_d-500">Ons team</p>
  </div>
  <div class="wow fadeInDown container grid grid-cols-1 gap-12 md:grid-cols-3">
    <div>
      <div class="avatar">
        <a href="/views/team/lucia.html">
          <img src="/assets/img/team/lucia_avatar.png" alt="" />
        </a>
      </div>
      <p class="mb-8 text-center text-xl">Lucia Vanden Eynde</p>
      <div class="flex flex-wrap justify-center">
        <div class="w-4/5">
          <ul class="disciplines wow fadeInLeft md:text-base lg:text-lg">
            <li>Manuele therapie</li>
            <li>Dry needling</li>
            <li>Pre- en postnatale therapie</li>
            <li>
              <a href="/views/team/lucia.html" class="more-link">Meer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="avatar">
        <a href="/views/team/elien.html">
          <img src="/assets/img/team/elien_avatar.png" alt="" />
        </a>
      </div>
      <p class="mb-8 text-center text-xl">Elien De Vos</p>
      <div class="flex flex-wrap justify-center">
        <div class="w-4/5">
          <ul class="disciplines wow fadeInLeft md:text-base lg:text-lg">
            <li>Algemene kinesitherapie</li>
            <li>Orthomoleculaire therapie</li>
            <li>Stressmanagement</li>
            <li>
              <a href="/views/team/elien.html" class="more-link">Meer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="avatar">
        <a href="/views/team/yves.html">
          <img src="/assets/img/team/yves_avatar.png" alt="" />
        </a>
      </div>
      <p class="mb-8 text-center text-xl">Yves Delaere</p>
      <div class="flex flex-wrap justify-center">
        <div class="w-4/5">
          <ul class="disciplines wow fadeInLeft md:text-base lg:text-lg">
            <li>Manuele therapie</li>
            <li>Dry needling</li>
            <li>Sportletsels</li>
            <li>
              <a href="/views/team/yves.html" class="more-link">Meer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="avatar">
        <a href="/views/team/elke.html">
          <img src="/assets/img/team/elke_avatar.png" alt="" />
        </a>
      </div>
      <p class="mb-8 text-center text-xl">Elke Parton</p>
      <div class="flex flex-wrap justify-center">
        <div class="w-4/5">
          <ul class="disciplines wow fadeInLeft md:text-base lg:text-lg">
            <li>Vroedkunde</li>
            <li>Zwangerschaps-<br />begeleiding</li>
            <li>
              <a href="/views/team/elke.html" class="more-link">Meer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="avatar">
        <a href="/views/team/lotte.html">
          <img src="/assets/img/team/lotte_avatar.png" alt="" />
        </a>
      </div>
      <p class="mb-8 text-center text-xl">Lotte Hendrickx</p>
      <div class="flex flex-wrap justify-center">
        <div class="w-4/5">
          <ul class="disciplines wow fadeInLeft md:text-base lg:text-lg">
            <li>Manuele therapie</li>
            <li>Algemene kinesitherapie</li>
            <li>Sportkinesitherapie</li>
            <li>
              <a href="/views/team/lotte.html" class="more-link">Meer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="avatar">
        <a href="/views/team/charlotte.html">
          <img src="/assets/img/team/charlotte_avatar.png" alt="" />
        </a>
      </div>
      <p class="mb-8 text-center text-xl">Charlotte De Meersman</p>
      <div class="flex flex-wrap justify-center">
        <div class="w-4/5">
          <ul class="disciplines wow fadeInLeft md:text-base lg:text-lg">
            <li>Personal training</li>
            <li>Personal coaching</li>
            <li>Groepslessen</li>
            <li>
              <a href="/views/team/charlotte.html" class="more-link">Meer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
