
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

@import url('http://fonts.cdnfonts.com/css/springfield');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .w-30 {
    width: 30px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.quote {
  font-family: 'Springfield', sans-serif;
  line-height: 0.9;
  @apply pb-16 italic text-reviva_d-500;
}

.quote > .accent {
  @apply text-reviva_m-500;
}

p {
  @apply text-gray-600;
}
.container {
  @apply mx-auto px-5;
}
.btn {
  @apply text-white bg-blue-600 px-10 py-3 rounded-full duration-300;
}
.btn:hover {
  @apply bg-blue-500;
}
.sticky {
  @apply fixed bg-white shadow;
}
.collapse.show {
  @apply block;
}
.toggler-icon {
  @apply block bg-gray-700 relative duration-300;
  height: 2px;
  width: 30px;
  margin: 6px 0;
}
.active>.toggler-icon:nth-child(1) {
  @apply transform rotate-45;
  top: 7px;
}
.active>.toggler-icon:nth-child(2) {
  @apply opacity-0;
}
.active>.toggler-icon:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}
.page-scroll, .page-link {
  @apply block px-5 py-2 uppercase text-reviva_d-500 duration-300 font-semibold;
}
.page-scroll.active,
.page-scroll:hover {
  @apply text-reviva_m-500 font-semibold;
}
.section-heading {
  @apply text-4xl font-bold tracking-wide;
}

.disciplines {
  @apply mb-12 ml-6 text-reviva_d-500 pl-1;
}

.disciplines > li::before, .experience > li::before {
  content: "O";
  font-weight: bold; 
  display: inline-block; 
  width: 1.4em; 
  margin-left: -1.4em; 
  @apply text-reviva_m-500
}

.experience {
  @apply mb-12 text-reviva_d-500 pl-6;
}

.experience > li {
  @apply pb-6
}

.experience > li > strong {
  margin-left: -4px;
}

.icon {
  @apply mb-4 text-reviva_d-500 text-5xl;
}

.service-title {
  @apply text-gray-800 font-semibold text-lg block mb-3 uppercase;
}

.feature-title {
  @apply text-gray-800 font-medium block mb-3;
}
.team-item {
  @apply m-8 text-center bg-white shadow duration-300;
}
.team-item:hover {
  @apply shadow-2xl cursor-pointer;
}

.profile-img {
  @apply text-center shadow-2xl rounded-md;
}

.team-overlay {
  @apply w-full h-full flex items-center justify-center absolute top-0 left-0 bg-gray-200 duration-300 opacity-0;
}
.team-overlay:hover {
  @apply opacity-100;
}

.social-link {
  @apply flex justify-center items-center w-20 h-20 bg-blue-600 rounded text-lg text-white duration-300;
}
.team-name {
  @apply text-gray-800 font-bold uppercase text-lg my-2;
}

.client-logo {
  @apply opacity-50 duration-300;
}
.client-logo:hover {
  @apply opacity-100;
}
.tns-nav {
  @apply absolute w-full bottom-0 -mb-16 text-center;
}
.tns-nav button {
  @apply w-3 h-3 rounded-full bg-white opacity-50 mx-1 my-6 duration-300;
}
.tns-nav>.tns-nav-active,
.tns-nav button:hover {
  @apply opacity-100;
}
.tns-nav button:focus {
  @apply outline-none;
}
.pricing-box {
  @apply m-3 text-center p-6 pb-10 shadow rounded duration-300;
}
.pricing-box:hover {
  @apply shadow-lg bg-blue-100;
}
.package-name {
  @apply text-blue-600 font-bold uppercase text-sm;
}

.form-input {
  @apply w-full mb-5 bg-white border border-gray-500 px-4 py-2 duration-300 outline-none
}
.form-input:focus {
  @apply border-blue-600;
}
.contact-icon {
  @apply w-10 h-10 flex items-center justify-center bg-reviva_d-600 text-xl text-white rounded-full;
}

.footer-links {
  @apply leading-9 text-gray-100 duration-300;
}
.footer-links:hover {
  @apply text-blue-500;
}
.footer-icon {
  @apply flex justify-center items-center w-20 h-20 bg-white rounded-full text-5xl text-reviva_d-500 duration-300;
}
.footer-icon:hover {
  @apply text-white;
}
